<div>
    <h1>Create Floor Mapping</h1>
    <h3>Start mapping a floor on your building here:</h3>
    <form [formGroup]="floormapForm" (ngSubmit)="onSubmit($event)">
        <label for="building">Enter the building name:</label>
        <input id="building" type="text" formControlName="building" required>
        <div *ngIf="floormapForm.controls.building.invalid && floormapForm.controls.building.errors &&
         (floormapForm.controls.building.dirty || floormapForm.controls.building.touched)" class="error-message"
            #alertbuilding>
            Building Name is required. It should be also be Alphanumeric.
        </div>

        <label for="floor">Enter the floor:</label>
        <input id="floor" type="text" formControlName="floor" required>
        <div *ngIf="floormapForm.controls.floor.invalid &&  floormapForm.controls.floor.errors &&
        (floormapForm.controls.floor.dirty || floormapForm.controls.floor.touched)" class="error-message"
            #alertfloor>
            The name of the floor is required. It should be also Alphanumeric.
        </div>

        <label for="email">Enter your email:</label>
        <input id="email" type="email" formControlName="email" required>
        <div *ngIf="floormapForm.controls.email.invalid && floormapForm.controls.email.errors &&
        (floormapForm.controls.email.dirty || floormapForm.controls.email.touched)" class="error-message"
            #alertemail>
            A valid email address is required.
        </div>

        <label for="image">Upload floor image: (PNG, JPG)</label>
        <input class="form-control" formControlName="image" (change)="onImgUpload($event)" type="file" name="image"
            id="image" accept=".png, .jpg, .jpeg">
        <div *ngIf="floormapForm.controls.image.invalid && floormapForm.controls.image.errors &&
        (floormapForm.controls.image.dirty || floormapForm.controls.image.touched)" class="error-message"
            #alertimage>
            Image is required.
        </div>

        <button type="submit" [disabled]="floormapForm.invalid || floormapForm.pristine">Submit</button>
    </form>
</div>