<div class="container">
    <div class="workspace">
        <h1>Select seats for building</h1>
        <div class="ws1" #floormapboundary>
            <img src="../../assets/floorplan.png">
            <!--<app-seat></app-seat>-->
            @for (seat of seatArray; track $index) {
                <app-seat></app-seat>
            }
        </div>

    </div>
    <div class="sidepanel">
        <h1>Controls</h1>
        <div class="controls">
            <button (click)="addSeat()">Add Seat</button>
            <button (click)="createMap()">Create Map</button>
        </div>
    </div>
</div>